
*{
    margin: 0px;
    padding: 0px;
    font-family:'Roboto Slab', serif;
    outline: none;
}
body{
    min-width: 530px;
}
header{
    #title{
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        cursor: pointer;
        span:first-child,span:last-child{
            color: $primary-red;
        }
    }
    .btn-outline-danger{
        color: $primary-red;
        border-color: $primary-red;
        &:hover{
            background-color: $primary-red;
        }
    }
}
#search{
    border-bottom: .01rem solid #dddddd;
    input{
        border: none;
        display: block;
        float: left;
    }
    img{
        height: 40%;
        position: absolute;
        right: 0px;
    }
}
ul#menu{
    li{
    hr{
        position: relative;
        height: .2em;
        top: -.7rem;
        background-color: white;
        color: white;
        border: none;
        width: 0%;
        margin: auto;
        transition: all .5s;
    }   
    a{
        color:#333333;
        line-height: 3rem;
        text-decoration: none;
        font-weight: 800;

    }
    &:hover{

        hr{
            color:$primary-red;
            background-color: $primary-red;
            width: 80%;
        }

    }
    &.active{
        &>hr{
            width: 80%;
            color:$primary-red;
            background-color: $primary-red;
        }
    }
}
}
#banner{
    background-color: $primary-red;
    color: $primary-white;
    height: 12rem;
    background: url('../img/Layer 1.png') center no-repeat ;
    background-size: cover;
    .title{
        font-size: 1.75rem;
    }
    .tree{
        font-size: .65rem;
    }
}
#content{

    #lightbox{


    margin-left: 0;
    background-color: white;
    overflow: hidden;
    ul{
        list-style: none;
        li{
            width: 4rem;
            height: 4rem;
                /*background-color: blue;*/
                img{
                    width: 3rem;
                }
                display: flex;
                align-items: center;
                justify-content: center;
                box-sizing: border-box;
                &.active{
                    border: 2px solid $primary-red;
                }
                &:hover{
                    border: 2px solid $primary-red;
                }
                &:first-child:hover,&:last-child:hover{
                    border: none;
                }
                margin-bottom:.5rem;
            }
            li:last-child,li:first-child{
                background-color: $gray;
                height: 2rem;
            }  
        }
        .img-content{
            width: 100%;
        }
        #zoom{
            width: 1rem;
            height: 1rem;
            position: absolute;
            right: 3rem;
            bottom: 2rem;
        }
        position: relative;
    }
    .left-content{

    overflow: hidden;
    padding: 2rem 2.5rem;
    background-color: white;
    border-left: 1px solid $gray;
    .name{
        display: flex;
        align-items: center;
        height: 40px;
        padding-left: 1rem;
        font-size: .8rem;
        font-weight: bold;
    }
    .quote{
        margin-top: 1rem;
        font-size: .85rem;
        color: $gray-bold;
    }
    .statistics{
        font-weight: bold;
        margin-top: 3rem;
        border: 1px solid $gray;
        border-right: 0;
        border-left: 0;
        .com{
            padding: 1rem 2rem;
        }
        .com:first-child{
            border-right: 1px solid $gray;
        }
        .com:last-child{
            border-left: 1px solid $gray;
        }
    }
    #cost{
        font-size: 2rem;
        margin: 1rem;
    }
    button.btn.btn-danger{

        border-radius: 0rem;
        background-color: $primary-red;
        height: 4rem;
        width: 100%;
        font-size: 1.2rem;
    }
}
}

.tags{ 

    

    cursor: pointer;
    margin: 0rem 0rem 2rem 2rem;
    padding: 20px;
    background-color: white;
    span{
        background-color: #f5f4f0;
        color: $primary-red;
        padding: 10px;
        margin: 5px 5px 0 5px;
    }
}
.img{
    background-color: white;
    padding: 3rem;
    margin-left: 2rem;
}
.des{
    clear: both;
    background-color: white;
    margin-bottom: 2rem;
    .facebook-comments img{
        width: 100%;
        padding: 1rem 0 0 1rem;
    }
    .des-title{
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    .des-content{
        color: $gray-bold;
    }
}
#related{
    padding-bottom: 5rem;
    .title-related{
        font-size: 2rem;
        border-bottom: .1rem solid $gray;
    }
    hr{
        &.red{
            background-color: $primary-red;
            z-index: 1000;
            height: .3rem;
            width: 3rem;
            border: none;
            margin-bottom: 2rem;
            position: relative;
            top: -.3rem;
        }
    }
    .card-img-top{
        padding: 1rem;
    }
    .free{
        color: $primary-red;
        font-size: 1rem;
        font-weight: bold;
    }
    .badge-danger{
        background-color: #72d7d6;
    }
    .card-group{
        .card-cost{
            font-weight: 800;
            &.free{
                color: $primary-pink;
            }
        }
        .img-card{
            height: 15rem;
        }
        .card{
            margin-right: 2rem;
            .value{
                font-size: 1rem;
            }
            .title{
                font-size: 1.2rem;
            }
        }
        .card:last-child{
            margin-right: 0rem;
        }
    }
}
footer{
    padding: 3rem 0 2rem 0 ;
    background-color: $primary-black;
    color: $gray-bold;
    .left{
        font-size: .7rem;
        #title{
            margin-top: -1rem;
            font-size: 2.5rem;
            font-weight: bold;
            span:first-child,span:last-child{
                color: $primary-red;
            }
        }
        hr{
            background-color: $gray2;
            height: .05rem;
            border: none;
            margin:.5rem 0;
        }
        .Tree-footer{
            margin:.1rem 0;
            span:first-child{
                color: $gray;
            }
            span{
                margin-right: .5rem;
            }
        }
        .addr{
            a{
                color: $primary-red;
                text-decoration: none;
                margin-right: .5rem;
            }
            .fa.fa-envelope{
                margin-left: .5rem;
            }
            div{
                margin-bottom: 1rem;
                margin-top: 1.5rem;
            }
        }
        .social i{
            margin:0 .3rem;
            font-size: 1rem;
        }
    }
    .right{ 
        a{
            color: $gray-bold;
        }
        padding: 0 !important;
        .main a{
            color: $primary-red;
        }
        .category{
            font-size: .9rem;
            /*background-color: red;*/
            .item:last-child{
                margin-bottom: 1.5rem;
            }
            .box:last-child{
                margin-bottom: 6rem;
            }
        }
        .category:last-child{
            padding-right: 0rem;
        }   
    }
}

/*Responsive custom*/
@media screen and (max-width: 991.9px){
    #content #lightbox ul{
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        li:last-child,li:first-child{
            transform: rotate(-90deg);
        }
    }
    .tags,.img{
        margin-left: 0rem;
    }
    #related{
        display: none;
    }
    footer .right{
        display: none;
    }
    ul#menu{
        justify-content: flex-start;
        li{
            padding-right: 0rem;
            hr{
                display: none;
            }   
        }
    }
    .btn-outline-danger{
        width: 100%;
    }
}
